<div class="container">
  <h1>Roles & Permissions</h1>

  <table class="table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-left">Permission</th>
        <th class="text-right">Role</th>
        <th *ngFor="let role of roles" 
            class="text-center"
            [title]="role.description">
          {{ role.id }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let perm of permissions">
        <th colspan="2">
          {{ perm.id }}<br>
          <small>{{ perm.description }}</small>
        </th>
        <td *ngFor="let role of roles" class="text-center">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                    [checked]="roleHasPermission(role, perm)">
            <label class="custom-control-label"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
