<app-navbar>
  <navbar-title>CoreGallery</navbar-title>
  <navbar-links class="navbar-links">
    <app-navbar-link link="/home">Home</app-navbar-link>
    <app-navbar-link link="/album" *ngIf="isLoggedIn">Albums</app-navbar-link>
    <app-navbar-link link="/admin/users" *ngIf="isLoggedIn && authService.hasPermission(listUserPerm)">Users</app-navbar-link>
    <app-navbar-link link="/admin/roles" *ngIf="isLoggedIn && authService.hasPermission(listRolePerm)">Roles</app-navbar-link>
  </navbar-links>
  <navbar-right>
    <app-navbar-link link="/login" *ngIf="!isLoggedIn">Login</app-navbar-link>
    <app-navbar-dropdown *ngIf="isLoggedIn">
      <dropdown-title>{{ userDetail.unique_name }}</dropdown-title>
      <dropdown-items>
        <app-navbar-dropdown-item disabled="true">
          <small>Current Role: <b>{{ userDetail.role }}</b></small>
        </app-navbar-dropdown-item>
        <app-navbar-dropdown-divider></app-navbar-dropdown-divider>
        <app-navbar-dropdown-item link="/logout">Logout</app-navbar-dropdown-item>
      </dropdown-items>
    </app-navbar-dropdown>
  </navbar-right>
</app-navbar>

<main>
  <router-outlet></router-outlet>
</main>
