<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
  <a class="navbar-brand" routerLink="/">
    <ng-content select="navbar-title"></ng-content>
  </a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <ng-content select="navbar-links"></ng-content>
    </ul>
    <hr class="d-block d-md-none" />
    <ul class="navbar-nav">
      <ng-content select="navbar-right"></ng-content>
    </ul>
  </div>
</nav>