<div class="modal-header">
  <h4 class="modal-title">
    <span *ngIf="!inEditMode">Create new user</span>
    <span *ngIf="inEditMode">Edit user</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="modal-body" *ngIf="preparing">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="!preparing">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" class="form-control"
             placeholder="Username"
             name="username"
             formControlName="username"
             ngbAutofocus
             [readOnly]="inEditMode">
    </div>
    <div class="form-group">
      <label for="">Email address</label>
      <input type="email" class="form-control" placeholder="Email"
        name="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="">Role</label>
      <select class="form-control"
              name="role"
              formControlName="role"
              (change)="onRoleChange()">
        <option *ngFor="let role of roles" [value]="role.id">
          {{ role.id }}
        </option>
      </select>
      <small class="form-text text-warning" *ngIf="!canEditRole">
        You cannot edit your own role.
      </small>
      <small class="form-text text-muted">
        {{ roleTip }}
      </small>
    </div>
    <div class="form-group" *ngIf="!inEditMode">
      <label for="">Password</label>
      <input type="password"
             class="form-control"
             name="password"
             autocomplete="off"
             formControlName="password">
    </div>
    <div class="form-group" *ngIf="!inEditMode">
      <label for="">Confirm password</label>
      <input type="password"
             class="form-control"
             name="passwordConfirm"
             autocomplete="off"
             formControlName="passwordConfirm">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" (click)="activeModal.close('Close click')">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>