<li class="nav-item dropdown" ngbDropdown>
  <a class="nav-link dropdown-toggle" ngbDropdownToggle>
    <ng-content select="dropdown-title"></ng-content>
  </a>
  <div class="dropdown-menu" ngbDropdownMenu>
    <ng-content select="dropdown-items"></ng-content>
  </div>
</li>