<div class="modal-body bg-dark text-light">
  <img *ngIf="hasImage && !!safeImageUrl"
       [src]="safeImageUrl"
       class="img-fluid">
  <div *ngIf="!hasImage"
       class="container"
       style="margin-top: 30vh;">
    <div class="spinner-border"
         style="width: 5rem; height: 5rem;"
         role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p>Loading image ...</p>
  </div>
</div>
<div class="modal-footer bg-dark text-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-left">
        <button class="btn btn-primary"
                (click)="onPreviousClick()" 
                *ngIf="hasPrevious">
          <fa name="chevron-left"></fa>
          Previous
        </button>
      </div>
      <div class="col-4 text-center">
        <button ngbAutofocus
                class="btn btn-secondary"
                title="Close"
                (click)="onCloseClick()">
          <fa name="close"></fa>
        </button>
      </div>
      <div class="col-4 text-right">
        <button class="btn btn-primary"
                (click)="onNextClick()"
                *ngIf="hasNext">
          Next
          <fa name="chevron-right"></fa>
        </button>
      </div>
    </div>
  </div>
</div>