.image-modal {
    background-color: rgba(0, 0, 0, 0.75);
}
.image-modal > .modal-dialog {
    max-width: 95%;
    max-height: 100%;
}
.image-modal .modal-body {
    height: calc(95vh - 100px);
    text-align: center;
}

.image-modal .modal-body img {
    max-width: 100%;
    max-height: 100%;
}
