<div class="container">
  <h1>Albums</h1>
  <div class="alert alert-info" *ngIf="albums == null">
    <fa name="refresh" animation="spin"></fa>
    Loading ...
  </div>
  <div class="row image-list" *ngIf="albums">
    <a *ngFor="let album of albums" [routerLink]="['/album', album.id]"
       class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ album.name }}
            <fa name="lock" *ngIf="album.isPrivateAlbum"></fa>
          </h5>
          <p class="card-text">
            <small class="text-muted">
              Owner: <b>{{ album.userID }}</b><br>
              Created: {{ album.createdAt }}
            </small>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="text-center">
    <button class="btn btn-outline-primary" *ngIf="canCreateNewAlbum()" (click)="onCreateNewAlbumClick(false)">
      <fa name="plus"></fa>
      Create new album
    </button>
    &nbsp;
    <button class="btn btn-outline-primary" *ngIf="canCreateNewAlbum()" (click)="onCreateNewAlbumClick(true)">
      <fa name="lock"></fa>
      Create new private album
    </button>
  </div>
</div>