<div class="container">
  <h1>User Management</h1>

  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email address</th>
            <th scope="col" title="A role is a collection of permissions a user receives, which determins what they can do with the application">
              Role
            </th>
            <th scope="col" class="text-right">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-outline-success" title="Create new user"
                        (click)="onCreateUser()" [class.disabled]="!canCreateUser()">
                  <fa name="plus" [fixed]="true"></fa>
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!!users">
          <tr *ngFor="let user of users" [class.disabled-user]="!!user.deletedAt">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.email }}</td>
            <td>
              <span *ngIf="user.role" [title]="user.role.description">
                {{ user.role.id }}
              </span>
              <span *ngIf="!user.role">-</span>
            </td>
            <td class="text-right">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-outline-secondary" title="Edit user" 
                        (click)="onEditUser(user)"
                        [class.disabled]="!canEditUser(user)">
                  <fa name="pencil" [fixed]="true"></fa>
                </button>
                <button class="btn btn-outline-secondary" title="Change password" 
                        (click)="onResetPassword(user)"
                        [class.disabled]="!canResetPassword(user)">
                  <fa name="key" [fixed]="true"></fa>
                </button>
                <button class="btn btn-outline-danger" title="Disable user"
                        *ngIf="!user.deletedAt"
                        (click)="onDeleteUser(user)"
                        [class.disabled]="!canDeleteUser(user)">
                  <fa name="trash-o" [fixed]="true"></fa>
                </button>
                <button class="btn btn-outline-success" title="Reactivate user"
                        *ngIf="!!user.deletedAt"
                        (click)="onReactivateUser(user)"
                        [class.disabled]="!canReactivateUser(user)">
                  <fa name="unlock" [fixed]="true"></fa>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!users">
          <td colspan="4">
            <div class="spinner-border spinner-border-sm d-inline-block" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Loading ...
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
