<div class="container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-danger" *ngIf="isFormInvalid && showErrors">
      Username and Password required!
    </div>
    <div class="alert alert-danger" *ngIf="invalidLogin">
      Username or Password invalid!
    </div>
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" class="form-control" placeholder="Username"
        name="username" formControlName="username">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" placeholder="Password"
        name="password" formControlName="password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>