.album-items-action {
    margin: auto;
}

.custom-file {
    width: 75%;
    text-align: left;
    margin-right: 10px;
}
.custom-file .actions-menu {
    margin-bottom: -5px;
}

.image-list {
    margin-bottom: 10px;
}

.image-list-item {
    position: relative;
}

.image-list-item > .img-thumbnail {
    cursor: pointer;
}

.image-list-item > .image-context-menu {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
}
.image-list-item > .image-context-menu > button.btn:not(:hover) {
    opacity: 0.5;
}
.image-list-item > .image-context-menu > .dropdown-menu {
    max-width: 250px;
}
.image-list-item > .image-context-menu > .dropdown-menu > .dropdown-header {
    white-space: normal;
}
