<div class="container-fluid">
  <h1 class="text-center">
    <span *ngIf="album">{{ album.name }}</span>
    <fa name="refresh" animation="spin" *ngIf="!album"></fa>
  </h1>
  <h6 class="text-center text-muted">
    <fa name="lock" *ngIf="album && album.isPrivateAlbum"></fa>
    by
    <b *ngIf="album">{{ album.userID }}</b>
    <fa name="refresh" animation="spin" *ngIf="!album"></fa>
  </h6>
  <hr>

  <div class="album-items-action text-center" *ngIf="!canNotShowToolbar">
    <div class="custom-file" *ngIf="canUploadImages">
      <input id="fileUpload" type="file" class="custom-file-input"
             accept="image/jpg,image/jpeg" multiple
             [disabled]="isUploadDisabled"
             (change)="onUploadClick($event.target.files)">
      <label for="fileUpload" class="custom-file-label" *ngIf="!isUploadDisabled">
        Click here to upload images
      </label>
      <label for="fileUpload" class="custom-file-label" *ngIf="isUploadDisabled">
        <div class="spinner-border spinner-border-sm d-inline-block" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        {{ uploadStatus }}
      </label>
    </div>

    <div ngbDropdown class="d-inline-block actions-menu" *ngIf="canShowAlbumContextMenu">
      <button class="btn btn-outline-primary" ngbDropdownToggle>
        <fa name="bars"></fa>
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="onDeleteAlbumClick()" *ngIf="canDeleteAlbum">
          <fa name="trash-o"></fa>
          Delete Album
        </button>
      </div>
    </div>

    <hr>
  </div>
  
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="isPagingDisabled || currentPageIndex <= 0">
      <a routerLink="." [fragment]="0"
         (click)="onPageNavClick(0)"
         class="page-link">
        <fa name="chevron-left"></fa>
        <fa name="chevron-left"></fa>
      </a>
    </li>
    <li class="page-item" [class.disabled]="isPagingDisabled || currentPageIndex <= 0">
      <a routerLink="." [fragment]="(currentPageIndex - 1).toString()"
         (click)="onPageNavClick(currentPageIndex - 1)"
         class="page-link">
        <fa name="chevron-left"></fa>
      </a>
    </li>
    <li class="page-item disabled">
      <a href="#" class="page-link">
        <div class="spinner-border spinner-border-sm d-inline-block" role="status"
             *ngIf="isPagingDisabled">
          <span class="sr-only">Loading...</span>
        </div>
        {{ currentPageIndex + 1 }} / {{ totalPages }}
        <span *ngIf="!!currentPage">
          ({{ currentPage.totalItems }} images total)
        </span>
      </a>
    </li>
    <li class="page-item" [class.disabled]="isPagingDisabled || currentPageIndex >= (totalPages - 1)">
      <a routerLink="." [fragment]="(currentPageIndex + 1).toString()"
         (click)="onPageNavClick(currentPageIndex + 1)"
         class="page-link">
        <fa name="chevron-right"></fa>
      </a>
    </li>
    <li class="page-item" [class.disabled]="isPagingDisabled || currentPageIndex >= (totalPages - 1)">
      <a routerLink="." [fragment]="(totalPages - 1).toString()"
         (click)="onPageNavClick(totalPages - 1)"
         class="page-link">
        <fa name="chevron-right"></fa>
        <fa name="chevron-right"></fa>
      </a>
    </li>
  </ul>

  <div class="row image-list" *ngIf="!!currentPage">
    <div *ngFor="let item of currentPage.items"
         class="col-6 col-md-4 col-lg-3 col-xl-2 text-center image-list-item"
         (mouseenter)="onMouseEnterImage(item)"
         (mouseleave)="onMouseLeaveImage(item)">
      <!-- Ready -->
      <img [src]="getCachedThumbnail(item)"
          class="rounded img-thumbnail"
          (click)="onImageClick(item)"
          *ngIf="hasCachedThumbnail(item)">

      <div ngbDropdown class="d-inline-block image-context-menu"
           *ngIf="hasCachedThumbnail(item) && isMousingOverImage(item)">
        <button class="btn btn-secondary" ngbDropdownToggle>
        </button>
        <div ngbDropdownMenu>
          <h6 class="dropdown-header">
            {{ item.itemName }}
          </h6>
          <button ngbDropdownItem (click)="onDeleteItemClick(item)" *ngIf="canDeleteItem">
            <fa name="trash-o"></fa>
            Delete Image
          </button>
        </div>
      </div>
      
      <!-- Loading -->
      <div class="text-center" *ngIf="!hasCachedThumbnail(item)">
        <div class="spinner-border spinner-border-sm d-inline-block" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>